<html lang="es">
  <head>
    <head>
      <meta charset="UTF-8" />

      <!-- Fuente -->
      <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap"
        rel="stylesheet"
      />

      <!-- Ãconos Font Awesome -->
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      />

      <!-- Tu estilo personalizado -->
      <link rel="stylesheet" href="/style.css" />

      <title>TP02</title>
    </head>

  </head>
  <body>
    {{{body}}}
  </body>
</html>