<h1>Listado de productos</h1>

<ul>
  {{#each products}}
    <li><strong>{{title}}</strong>
      - ${{price}}
      <small>(código: {{code}})</small></li>
  {{/each}}
</ul>

<p>
  Ir a la vista en tiempo real 👉
  <a href="/realtimeproducts">/realtimeproducts</a>
</p>